@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
.fame{
    font-family: 'Grand Hotel', cursive;
}

.auth-card{
    padding: 20px;
    text-align: center;
    max-width: 400px;
    margin: 10px auto;
    border-radius: 8%;
    border: 1px solid purple;
}
.myCard{
    margin: 30px auto;
}
.btn{
    color: #7e57c2 deep-purple lighten-1;
}
.profile{
    display: flex;
    justify-content: space-around;
    margin: 18px 0px;
    border-bottom: 1px solid;
}
#toast-container{
    top: 30px  !important;
    right: 20px !important;
    left:auto !important;
    color: red;
}